CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.xbps*
*.tar*
*.img
*.iso
System.map-*.*.*_*
config-*.*.*_*
vmlinuz-*.*.*_*
*-*.*.*-*-*
